.msg {
	color: #000;
	font-size: 80px;
}

.palavra {
	color: #f00;
	font-size: 80px;
}

.digitar {
	color: #f00;
	font-size: 80px;
}

.contador {
	color: #000;
	font-size: 80px;
}

.contadorNR {
	color: #000;
	font-size: 80px;
}

.temporizador {
	color: #000;
	font-size: 80px;
}

.temporizadorNR {
	color: #000;
	font-size: 80px;
}